@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;

  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.character-detail,
.episode-detail{
    background-image: linear-gradient(to bottom, #08CB00,#78C841);
}
/* .header{
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: transparent;
  background-color: rgba(59, 130, 246, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  height: 60px;
  clear: both;
  width: 100%;
} */